# Airline Delays
## Data Wrangling for Capstone 2

I downloaded the data below on airline departures/delays from the US Department of Transportation. It covers flights from/to North Carolina in the one year period Jul 2021-Jun 2022.

See source here: https://www.transtats.bts.gov/DL_SelectFields.aspx?gnoyr_VQ=FGK&QO_fu146_anzr=b0-gvzr

I downloaded the following columns from the website: Quarter = QUARTER; Month = MONTH; DayofMonth = DAY_OF_MONTH; DayOfWeek = DAY_OF_WEEK; FlightDate = FL_DATE; Operating_Airline = OP_UNIQUE_CARRIER; Flight_Number_Operating_Airline = OP_CARRIER_FL_NUM; Origin = ORIGIN; OriginCityName = ORIGIN_CITY_NAME; OriginStateName = ORIGIN_STATE_NM; Dest = DEST; DestCityName = DEST_CITY_NAME; DestStateName = DEST_STATE_NM; CRSDepTime = CRS_DEP_TIME; DepTime = DEP_TIME; DepDelayMinutes = DEP_DELAY_NEW; DepDel15 = DEP_DEL15; DepartureDelayGroups = DEP_DELAY_GROUP; CRSArrTime = CRS_ARR_TIME; ArrTime = ARR_TIME; ArrDelayMinutes = ARR_DELAY_NEW; ArrDel15 = ARR_DEL15; ArrivalDelayGroups = ARR_DELAY_GROUP; Cancelled = CANCELLED; CRSElapsedTime = CRS_ELAPSED_TIME; ActualElapsedTime = ACTUAL_ELAPSED_TIME; AirTime = AIR_TIME; Distance = DISTANCE; CarrierDelay = CARRIER_DELAY; WeatherDelay = WEATHER_DELAY; NASDelay = NAS_DELAY; SecurityDelay = SECURITY_DELAY; LateAircraftDelay = LATE_AIRCRAFT_DELAY.

In [1]:
import pandas as pd

In [2]:
# let's first take a peek at what our data looks like!

df_Jul = pd.read_csv('.\OST Flight Data\Jul_2021.csv')
df_Jul.head()

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,...,CANCELLED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3,7,5,1,7/5/2021 12:00:00 AM,OO,5384,CLT,"Charlotte, NC",North Carolina,...,0.0,230.0,231.0,182.0,1337.0,NaN,NaN,NaN,NaN,NaN
1,3,7,24,6,7/24/2021 12:00:00 AM,OO,4654,DEN,"Denver, CO",Colorado,...,0.0,214.0,197.0,176.0,1436.0,30.0,0.0,0.0,0.0,0.0
2,3,7,3,6,7/3/2021 12:00:00 AM,OO,4654,DEN,"Denver, CO",Colorado,...,0.0,214.0,199.0,181.0,1436.0,NaN,NaN,NaN,NaN,NaN
3,3,7,18,7,7/18/2021 12:00:00 AM,OO,4654,DEN,"Denver, CO",Colorado,...,1.0,214.0,NaN,NaN,1436.0,NaN,NaN,NaN,NaN,NaN
4,3,7,12,1,7/12/2021 12:00:00 AM,OO,5384,CLT,"Charlotte, NC",North Carolina,...,0.0,230.0,215.0,178.0,1337.0,NaN,NaN,NaN,NaN,NaN

In [3]:
df_Aug = pd.read_csv('.\OST Flight Data\Aug_2021.csv')
df_Sept = pd.read_csv('.\OST Flight Data\Sept_2021.csv')
df_Oct = pd.read_csv('.\OST Flight Data\Oct_2021.csv')
df_Nov = pd.read_csv('Nov2021.csv')
df_Dec = pd.read_csv('.\OST Flight Data\Dec_2021.csv')
df_Jan = pd.read_csv('.\OST Flight Data\Jan_2022.csv')
df_Feb = pd.read_csv('.\OST Flight Data\Feb_2022.csv')
df_Mar = pd.read_csv('.\OST Flight Data\Mar_2022.csv')
df_Apr = pd.read_csv('.\OST Flight Data\Apr_2022.csv')
df_May = pd.read_csv('.\OST Flight Data\May_2022.csv')
df_Jun = pd.read_csv('.\OST Flight Data\Jun_2022.csv')

In [4]:
# we'll want to concat our dataframes together
# to get Jan-Jun 2022

df = df_Jul.append(df_Aug).append(df_Sept).append(df_Oct).append(df_Nov).append(df_Dec).append(df_Jan).append(df_Feb).append(df_Mar).append(df_Apr).append(df_May).append(df_Jun)
df

# 605186 rows Ã— 33 columns

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,...,CANCELLED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3,7,5,1,7/5/2021 12:00:00 AM,OO,5384,CLT,"Charlotte, NC",North Carolina,...,0.0,230.0,231.0,182.0,1337.0,NaN,NaN,NaN,NaN,NaN
1,3,7,24,6,7/24/2021 12:00:00 AM,OO,4654,DEN,"Denver, CO",Colorado,...,0.0,214.0,197.0,176.0,1436.0,30.0,0.0,0.0,0.0,0.0
2,3,7,3,6,7/3/2021 12:00:00 AM,OO,4654,DEN,"Denver, CO",Colorado,...,0.0,214.0,199.0,181.0,1436.0,NaN,NaN,NaN,NaN,NaN
3,3,7,18,7,7/18/2021 12:00:00 AM,OO,4654,DEN,"Denver, CO",Colorado,...,1.0,214.0,NaN,NaN,1436.0,NaN,NaN,NaN,NaN,NaN
4,3,7,12,1,7/12/2021 12:00:00 AM,OO,5384,CLT,"Charlotte, NC",North Carolina,...,0.0,230.0,215.0,178.0,1337.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51803,2,6,1,3,6/1/2022 12:00:00 AM,YX,3424,CLT,"Charlotte, NC",North Carolina,...,0.0,122.0,108.0,76.0,529.0,NaN,NaN,NaN,NaN,NaN
51804,2,6,1,3,6/1/2022 12:00:00 AM,YX,3418,EWR,"Newark, NJ",New Jersey,...,0.0,108.0,113.0,77.0,416.0,NaN,NaN,NaN,NaN,NaN
51805,2,6,1,3,6/1/2022 12:00:00 AM,YX,3417,EWR,"Newark, NJ",New Jersey,...,1.0,108.0,NaN,NaN,445.0,NaN,NaN,NaN,NaN,NaN
51806,2,6,1,3,6/1/2022 12:00:00 AM,YX,3410,CLT,"Charlotte, NC",North Carolina,...,1.0,132.0,NaN,NaN,529.0,NaN,NaN,NaN,NaN,NaN
51807,2,6,1,3,6/1/2022 12:00:00 AM,YX,3408,EWR,"Newark, NJ",New Jersey,...,1.0,127.0,NaN,NaN,529.0,NaN,NaN,NaN,NaN,NaN

In [5]:
# what does the first row look like? 
# also we get to see the columns

df.iloc[0]

QUARTER                                   3
MONTH                                     7
DAY_OF_MONTH                              5
DAY_OF_WEEK                               1
FL_DATE                7/5/2021 12:00:00 AM
OP_UNIQUE_CARRIER                        OO
OP_CARRIER_FL_NUM                      5384
ORIGIN                                  CLT
ORIGIN_CITY_NAME              Charlotte, NC
ORIGIN_STATE_NM              North Carolina
DEST                                    DEN
DEST_CITY_NAME                   Denver, CO
DEST_STATE_NM                      Colorado
CRS_DEP_TIME                           1630
DEP_TIME                               1622
DEP_DELAY_NEW                             0
DEP_DEL15                                 0
DEP_DELAY_GROUP                          -1
CRS_ARR_TIME                           1820
ARR_TIME                               1813
ARR_DELAY_NEW                             0
ARR_DEL15                                 0
ARR_DELAY_GROUP                          -1
CANCELLED                                 0
CRS_ELAPSED_TIME                        230
ACTUAL_ELAPSED_TIME                     231
AIR_TIME                                182
DISTANCE                               1337
CARRIER_DELAY                           NaN
WEATHER_DELAY                           NaN
NAS_DELAY                               NaN
SECURITY_DELAY                          NaN
LATE_AIRCRAFT_DELAY                     NaN
Name: 0, dtype: object

In [6]:
# let's simplify some of the column names

df = df.rename(columns={'OP_UNIQUE_CARRIER':'CARRIER', 
                        'OP_CARRIER_FL_NUM':'FL_NUM', 'ORIGIN_CITY_NAME':'ORIGIN_CITY',
                       'ORIGIN_STATE_NM':'ORIGIN_STATE', 'DEST_CITY_NAME':'DEST_CITY',
                       'DEST_STATE_NM':'DEST_STATE', 'DEP_DELAY_NEW':'DEP_DELAY',
                       'ARR_DELAY_NEW':'ARR_DELAY'})
df.head()

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,CARRIER,FL_NUM,ORIGIN,ORIGIN_CITY,ORIGIN_STATE,...,CANCELLED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3,7,5,1,7/5/2021 12:00:00 AM,OO,5384,CLT,"Charlotte, NC",North Carolina,...,0.0,230.0,231.0,182.0,1337.0,NaN,NaN,NaN,NaN,NaN
1,3,7,24,6,7/24/2021 12:00:00 AM,OO,4654,DEN,"Denver, CO",Colorado,...,0.0,214.0,197.0,176.0,1436.0,30.0,0.0,0.0,0.0,0.0
2,3,7,3,6,7/3/2021 12:00:00 AM,OO,4654,DEN,"Denver, CO",Colorado,...,0.0,214.0,199.0,181.0,1436.0,NaN,NaN,NaN,NaN,NaN
3,3,7,18,7,7/18/2021 12:00:00 AM,OO,4654,DEN,"Denver, CO",Colorado,...,1.0,214.0,NaN,NaN,1436.0,NaN,NaN,NaN,NaN,NaN
4,3,7,12,1,7/12/2021 12:00:00 AM,OO,5384,CLT,"Charlotte, NC",North Carolina,...,0.0,230.0,215.0,178.0,1337.0,NaN,NaN,NaN,NaN,NaN

# A legend for our columns

QUARTER                                   Quarter         
MONTH                                       Month   
DAY_OF_MONTH                     Day of the month    
DAY_OF_WEEK                    1=Monday, 7=Sunday
FL_DATE                      Flight date and time
CARRIER                          9E: Endeavor Air
                            AA: American Airlines
                              AS: Alaska Airlines
                              B6: JetBlue Airways
              C5: Commutair/Champlain Enterprises
                              DL: Delta Air Lines 
                            F9: Frontier Airlines
                                G4: Allegiant Air
                G7: GoJet Airlines/United Express
                                    MQ: Envoy Air
                             NK: Spirit Air Lines
                                 OH: PSA Airlines
                             OO: SkyWest Airlines
                            PT: Piedmont Airlines
                             UA: United Air Lines
                           WN: Southwest Airlines
                                YV: Mesa Airlines
                             YX: Republic Airline
                       ZW: Air Wisconsin Airlines
FL_NUM                              Flight number
ORIGIN                             Origin airport          
ORIGIN_CITY                           Origin city 
ORIGIN_STATE                         Origin state   
DEST                          Destination airport         
DEST_CITY                        Destination city  
DEST_STATE                      Destination state
CRS_DEP_TIME             Scheduled departure time
DEP_TIME                    Actual departure time
DEP_DELAY                        Delay in minutes
DEP_DEL15                     1=delay of >=15 min
DEP_DELAY_GROUP              -2=delay of <-15 min
                  -1=delay between -15 and -1 min
                     0=delay between 0 and 14 min
                    1=delay between 15 and 29 min
                    2=delay between 30 and 44 min
                all the way to 12=delay >=180 min
CRS_ARR_TIME               Scheduled arrival time
ARR_TIME                      Actual arrival time
ARR_DELAY                        Delay in minutes
ARR_DEL15                     1=delay of >=15 min
ARR_DELAY_GROUP               -2=delay of <-15 min
                  -1=delay between -15 and -1 min
                     0=delay between 0 and 14 min
                    1=delay between 15 and 29 min
                    2=delay between 30 and 44 min
                all the way to 12=delay >=180 min
CANCELLED                             1=cancelled
CRS_ELAPSED_TIME           Scheduled elapsed time
ACTUAL_ELAPSED_TIME           Actual elapsed time
AIR_TIME                          Air time in min
DISTANCE                        Distance in miles
CARRIER_DELAY                    Delay in minutes             
WEATHER_DELAY                    Delay in minutes             
NAS_DELAY                        Delay in minutes             
SECURITY_DELAY                   Delay in minutes            
LATE_AIRCRAFT_DELAY              Delay in minutes

In [7]:
# airlines are pretty important,
# let's replace the weird code with airline names

df['CARRIER'].value_counts()

AA    211096
OH    147825
PT     49315
YX     44903
DL     39857
9E     22271
WN     17787
MQ     15193
G4      8596
B6      7943
UA      7736
F9      7300
YV      6818
ZW      5573
OO      4282
G7      3940
NK      3606
AS       871
C5       274
Name: CARRIER, dtype: int64

In [8]:
airline_dict = {
    '9E': 'Endeavor Air', 
    'AA': 'American Airlines',
    'AS': 'Alaska Airlines',
    'B6': 'JetBlue Airways',
    'C5': 'Commutair/Champlain Enterprises',
    'DL': 'Delta Air Lines',
    'F9': 'Frontier Airlines',
    'G4': 'Allegiant Air',
    'G7': 'GoJet Airlines/United Express',
    'MQ': 'Envoy Air',
    'NK': 'Spirit Air Lines',
    'OH': 'PSA Airlines',
    'OO': 'SkyWest Airlines',
    'PT': 'Piedmont Airlines',
    'UA': 'United Air Lines',
    'WN': 'Southwest Airlines',
    'YV': 'Mesa Airlines',
    'YX': 'Republic Airline',
    'ZW': 'Air Wisconsin Airlines',
}

In [9]:
df['CARRIER'].replace(airline_dict, inplace=True)
df['CARRIER'].value_counts()

# it works!

American Airlines                  211096
PSA Airlines                       147825
Piedmont Airlines                   49315
Republic Airline                    44903
Delta Air Lines                     39857
Endeavor Air                        22271
Southwest Airlines                  17787
Envoy Air                           15193
Allegiant Air                        8596
JetBlue Airways                      7943
United Air Lines                     7736
Frontier Airlines                    7300
Mesa Airlines                        6818
Air Wisconsin Airlines               5573
SkyWest Airlines                     4282
GoJet Airlines/United Express        3940
Spirit Air Lines                     3606
Alaska Airlines                       871
Commutair/Champlain Enterprises       274
Name: CARRIER, dtype: int64

In [10]:
day_of_week_dict = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    5: 'Friday',
    6: 'Saturday',
    7: 'Sunday',
    }

In [11]:
df['DAY_OF_WEEK'].replace(day_of_week_dict, inplace=True)
df['DAY_OF_WEEK'].value_counts()

Thursday     93152
Friday       90978
Monday       89446
Sunday       88907
Wednesday    84401
Tuesday      80873
Saturday     77429
Name: DAY_OF_WEEK, dtype: int64

In [12]:
cancelled_dict = {1:'Cancelled', 0:'Not Cancelled'}
df['CANCELLED'].replace(cancelled_dict, inplace=True)

In [13]:
dep_delay_dict = {1:'Departure Delay', 0:'No Departure Delay'}
df['DEP_DEL15'].replace(dep_delay_dict, inplace=True)
arr_delay_dict = {1:'Arrival Delay', 0:'No Arrival Delay'}
df['ARR_DEL15'].replace(arr_delay_dict, inplace=True)

In [14]:
from datetime import datetime as dt

In [15]:
df['CRS_DEP_TIME'] = pd.to_datetime(df['CRS_DEP_TIME'], format='%H%M', errors='coerce').dt.time
# I have no idea why, but unless I do this one first/separately, it doesn't work

In [16]:
df['CRS_DEP_TIME']

0        16:30:00
1        10:30:00
2        10:30:00
3        10:20:00
4        16:30:00
           ...
51803    11:01:00
51804    16:00:00
51805    16:56:00
51806    17:54:00
51807    17:58:00
Name: CRS_DEP_TIME, Length: 605186, dtype: object

In [17]:
# we need to specify that some of the column data
# is categorical, not numerical
# also change some of the times to datetime format

## ALSO NB: carrier delay, weather, nas, security, and late aircraft delay
## are NOT categorical but numeric! They measure the delay in min

df['QUARTER'] = df['QUARTER'].astype('category')
df['MONTH'] = df['MONTH'].astype('category')
df['DAY_OF_MONTH'] = df['DAY_OF_MONTH'].astype('category')
df['DAY_OF_WEEK'] = df['DAY_OF_WEEK'].astype('category')
df['FL_DATE'] = df['FL_DATE'].astype('datetime64') # not sure if this one works
df['FL_NUM'] = df['FL_NUM'].astype('category')
# df['CRS_DEP_TIME'] = pd.to_datetime(df['CRS_DEP_TIME'], format='%H:%M', errors='coerce').dt.time
df['DEP_TIME'] = pd.to_datetime(df['DEP_TIME'], format='%H%M', errors='coerce').dt.time
df['DEP_DEL15'] = df['DEP_DEL15'].astype('category')
df['DEP_DELAY_GROUP'] = df['DEP_DELAY_GROUP'].astype('category')
df['CRS_ARR_TIME'] = pd.to_datetime(df['CRS_ARR_TIME'], format='%H%M', errors='coerce').dt.time
df['ARR_TIME'] = pd.to_datetime(df['ARR_TIME'], format='%H%M', errors='coerce').dt.time
df['ARR_DEL15'] = df['ARR_DEL15'].astype('category')
df['ARR_DELAY_GROUP'] = df['ARR_DELAY_GROUP'].astype('category')
df['CANCELLED'] = df['CANCELLED'].astype('category')

In [18]:
# let's see how many flights are cancelled
# group by month, and day of the week

df[df['CANCELLED']=='Cancelled'].groupby(['MONTH', 'DAY_OF_WEEK']).count()

                   QUARTER  DAY_OF_MONTH  FL_DATE  CARRIER  FL_NUM  ORIGIN  \
MONTH DAY_OF_WEEK
1     Friday           548           548      548      548     548     548
      Monday           783           783      783      783     783     783
      Saturday         719           719      719      719     719     719
      Sunday          1725          1725     1725     1725    1725    1725
      Thursday         162           162      162      162     162     162
...                    ...           ...      ...      ...     ...     ...
12    Saturday          59            59       59       59      59      59
      Sunday            45            45       45       45      45      45
      Thursday          67            67       67       67      67      67
      Tuesday           29            29       29       29      29      29
      Wednesday         58            58       58       58      58      58

                   ORIGIN_CITY  ORIGIN_STATE  DEST  DEST_CITY  ...  CANCELLED  \
MONTH DAY_OF_WEEK                                              ...
1     Friday               548           548   548        548  ...        548
      Monday               783           783   783        783  ...        783
      Saturday             719           719   719        719  ...        719
      Sunday              1725          1725  1725       1725  ...       1725
      Thursday             162           162   162        162  ...        162
...                        ...           ...   ...        ...  ...        ...
12    Saturday              59            59    59         59  ...         59
      Sunday                45            45    45         45  ...         45
      Thursday              67            67    67         67  ...         67
      Tuesday               29            29    29         29  ...         29
      Wednesday             58            58    58         58  ...         58

                   CRS_ELAPSED_TIME  ACTUAL_ELAPSED_TIME  AIR_TIME  DISTANCE  \
MONTH DAY_OF_WEEK
1     Friday                    548                    0         0       548
      Monday                    783                    0         0       783
      Saturday                  719                    0         0       719
      Sunday                   1725                    0         0      1725
      Thursday                  162                    0         0       162
...                             ...                  ...       ...       ...
12    Saturday                   59                    0         0        59
      Sunday                     45                    0         0        45
      Thursday                   67                    0         0        67
      Tuesday                    29                    0         0        29
      Wednesday                  58                    0         0        58

                   CARRIER_DELAY  WEATHER_DELAY  NAS_DELAY  SECURITY_DELAY  \
MONTH DAY_OF_WEEK
1     Friday                   0              0          0               0
      Monday                   0              0          0               0
      Saturday                 0              0          0               0
      Sunday                   0              0          0               0
      Thursday                 0              0          0               0
...                          ...            ...        ...             ...
12    Saturday                 0              0          0               0
      Sunday                   0              0          0               0
      Thursday                 0              0          0               0
      Tuesday                  0              0          0               0
      Wednesday                0              0          0               0

                   LATE_AIRCRAFT_DELAY
MONTH DAY_OF_WEEK
1     Friday                         0
      Monday                         0
      Saturday                       0
      Sunday                         0
      Thursday                       0
...                                ...
12    Saturday                       0
      Sunday                         0
      Thursday                       0
      Tuesday                        0
      Wednesday                      0

[84 rows x 31 columns]

In [19]:
# let's see how many flights are cancelled
# now group by airline

df[df['CANCELLED']=='Cancelled'].groupby(['CARRIER']).count()

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,FL_NUM,ORIGIN,ORIGIN_CITY,ORIGIN_STATE,DEST,...,CANCELLED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
CARRIER,,,,,,,,,,,,,,,,,,,,,
Air Wisconsin Airlines,176,176,176,176,176,176,176,176,176,176,...,176,176,0,0,176,0,0,0,0,0
Alaska Airlines,36,36,36,36,36,36,36,36,36,36,...,36,36,0,0,36,0,0,0,0,0
Allegiant Air,428,428,428,428,428,428,428,428,428,428,...,428,428,0,0,428,0,0,0,0,0
American Airlines,6317,6317,6317,6317,6317,6317,6317,6317,6317,6317,...,6317,6317,0,0,6317,0,0,0,0,0
Commutair/Champlain Enterprises,18,18,18,18,18,18,18,18,18,18,...,18,18,0,0,18,0,0,0,0,0
Delta Air Lines,361,361,361,361,361,361,361,361,361,361,...,361,361,0,0,361,0,0,0,0,0
Endeavor Air,670,670,670,670,670,670,670,670,670,670,...,670,670,0,0,670,0,0,0,0,0
Envoy Air,241,241,241,241,241,241,241,241,241,241,...,241,241,0,0,241,0,0,0,0,0
Frontier Airlines,179,179,179,179,179,179,179,179,179,179,...,179,179,0,0,179,0,0,0,0,0
GoJet Airlines/United Express,263,263,263,263,263,263,263,263,263,263,...,263,263,0,0,263,0,0,0,0,0
JetBlue Airways,331,331,331,331,331,331,331,331,331,331,...,331,331,0,0,331,0,0,0,0,0
Mesa Airlines,183,183,183,183,183,183,183,183,183,183,...,183,183,0,0,183,0,0,0,0,0
PSA Airlines,2896,2896,2896,2896,2896,2896,2896,2896,2896,2896,...,2896,2896,0,0,2896,0,0,0,0,0
Piedmont Airlines,830,830,830,830,830,830,830,830,830,830,...,830,830,0,0,830,0,0,0,0,0
Republic Airline,1414,1414,1414,1414,1414,1414,1414,1414,1414,1414,...,1414,1414,0,0,1414,0,0,0,0,0
SkyWest Airlines,78,78,78,78,78,78,78,78,78,78,...,78,78,0,0,78,0,0,0,0,0
Southwest Airlines,420,420,420,420,420,420,420,420,420,420,...,420,420,0,0,420,0,0,0,0,0
Spirit Air Lines,162,162,162,162,162,162,162,162,162,162,...,162,162,0,0,162,0,0,0,0,0
United Air Lines,200,200,200,200,200,200,200,200,200,200,...,200,200,0,0,200,0,0,0,0,0

In [20]:
# what about percentage of flights cancelled
# group by airline?

df[df['CANCELLED']=='Cancelled'].groupby(['CARRIER']).count()['QUARTER']/df.groupby(['CARRIER']).count()['QUARTER']

# looks like G4=Allegiant Air has the highest percentage of cancelled flights, 6.9%
# followed by AS=Alaska Air, 6.8% and B6=JetBlue Airways, 6.7%

CARRIER
Air Wisconsin Airlines             0.031581
Alaska Airlines                    0.041332
Allegiant Air                      0.049791
American Airlines                  0.029925
Commutair/Champlain Enterprises    0.065693
Delta Air Lines                    0.009057
Endeavor Air                       0.030084
Envoy Air                          0.015863
Frontier Airlines                  0.024521
GoJet Airlines/United Express      0.066751
JetBlue Airways                    0.041672
Mesa Airlines                      0.026841
PSA Airlines                       0.019591
Piedmont Airlines                  0.016831
Republic Airline                   0.031490
SkyWest Airlines                   0.018216
Southwest Airlines                 0.023613
Spirit Air Lines                   0.044925
United Air Lines                   0.025853
Name: QUARTER, dtype: float64

In [21]:
# let's see how many flights have a departure delay of more than 15 minutes
# group by month, and day of the week

df[df['DEP_DEL15']=='Departure Delay'].groupby(['MONTH', 'DAY_OF_WEEK']).count()

                   QUARTER  DAY_OF_MONTH  FL_DATE  CARRIER  FL_NUM  ORIGIN  \
MONTH DAY_OF_WEEK
1     Friday          1017          1017     1017     1017    1017    1017
      Monday          1602          1602     1602     1602    1602    1602
      Saturday        1075          1075     1075     1075    1075    1075
      Sunday          1459          1459     1459     1459    1459    1459
      Thursday         706           706      706      706     706     706
...                    ...           ...      ...      ...     ...     ...
12    Saturday        1210          1210     1210     1210    1210    1210
      Sunday          1077          1077     1077     1077    1077    1077
      Thursday        1227          1227     1227     1227    1227    1227
      Tuesday          851           851      851      851     851     851
      Wednesday        944           944      944      944     944     944

                   ORIGIN_CITY  ORIGIN_STATE  DEST  DEST_CITY  ...  CANCELLED  \
MONTH DAY_OF_WEEK                                              ...
1     Friday              1017          1017  1017       1017  ...       1017
      Monday              1602          1602  1602       1602  ...       1602
      Saturday            1075          1075  1075       1075  ...       1075
      Sunday              1459          1459  1459       1459  ...       1459
      Thursday             706           706   706        706  ...        706
...                        ...           ...   ...        ...  ...        ...
12    Saturday            1210          1210  1210       1210  ...       1210
      Sunday              1077          1077  1077       1077  ...       1077
      Thursday            1227          1227  1227       1227  ...       1227
      Tuesday              851           851   851        851  ...        851
      Wednesday            944           944   944        944  ...        944

                   CRS_ELAPSED_TIME  ACTUAL_ELAPSED_TIME  AIR_TIME  DISTANCE  \
MONTH DAY_OF_WEEK
1     Friday                   1017                 1001      1001      1017
      Monday                   1602                 1596      1596      1602
      Saturday                 1075                 1073      1073      1075
      Sunday                   1459                 1453      1453      1459
      Thursday                  706                  705       705       706
...                             ...                  ...       ...       ...
12    Saturday                 1210                 1203      1203      1210
      Sunday                   1077                 1077      1077      1077
      Thursday                 1227                 1224      1224      1227
      Tuesday                   851                  848       848       851
      Wednesday                 944                  941       941       944

                   CARRIER_DELAY  WEATHER_DELAY  NAS_DELAY  SECURITY_DELAY  \
MONTH DAY_OF_WEEK
1     Friday                 801            801        801             801
      Monday                1333           1333       1333            1333
      Saturday               840            840        840             840
      Sunday                1194           1194       1194            1194
      Thursday               565            565        565             565
...                          ...            ...        ...             ...
12    Saturday               980            980        980             980
      Sunday                 798            798        798             798
      Thursday               932            932        932             932
      Tuesday                629            629        629             629
      Wednesday              681            681        681             681

                   LATE_AIRCRAFT_DELAY
MONTH DAY_OF_WEEK
1     Friday                       801
      Monday                      1333
      Saturday                     840
      Sunday                      1194
      Thursday                     565
...                                ...
12    Saturday                     980
      Sunday                       798
      Thursday                     932
      Tuesday                      629
      Wednesday                    681

[84 rows x 31 columns]

In [22]:
# let's see how many flights have an arrival delay of more than 15 minutes
# now group by airline

df[df['ARR_DEL15']=='Arrival Delay'].groupby(['CARRIER']).count()

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,FL_NUM,ORIGIN,ORIGIN_CITY,ORIGIN_STATE,DEST,...,CANCELLED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
CARRIER,,,,,,,,,,,,,,,,,,,,,
Air Wisconsin Airlines,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026,...,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026
Alaska Airlines,134,134,134,134,134,134,134,134,134,134,...,134,134,134,134,134,134,134,134,134,134
Allegiant Air,2879,2879,2879,2879,2879,2879,2879,2879,2879,2879,...,2879,2879,2879,2879,2879,2879,2879,2879,2879,2879
American Airlines,37705,37705,37705,37705,37705,37705,37705,37705,37705,37705,...,37705,37705,37705,37705,37705,37705,37705,37705,37705,37705
Commutair/Champlain Enterprises,70,70,70,70,70,70,70,70,70,70,...,70,70,70,70,70,70,70,70,70,70
Delta Air Lines,4876,4876,4876,4876,4876,4876,4876,4876,4876,4876,...,4876,4876,4876,4876,4876,4876,4876,4876,4876,4876
Endeavor Air,3047,3047,3047,3047,3047,3047,3047,3047,3047,3047,...,3047,3047,3047,3047,3047,3047,3047,3047,3047,3047
Envoy Air,2373,2373,2373,2373,2373,2373,2373,2373,2373,2373,...,2373,2373,2373,2373,2373,2373,2373,2373,2373,2373
Frontier Airlines,1845,1845,1845,1845,1845,1845,1845,1845,1845,1845,...,1845,1845,1845,1845,1845,1845,1845,1845,1845,1845
GoJet Airlines/United Express,939,939,939,939,939,939,939,939,939,939,...,939,939,939,939,939,939,939,939,939,939
JetBlue Airways,2267,2267,2267,2267,2267,2267,2267,2267,2267,2267,...,2267,2267,2267,2267,2267,2267,2267,2267,2267,2267
Mesa Airlines,1213,1213,1213,1213,1213,1213,1213,1213,1213,1213,...,1213,1213,1213,1213,1213,1213,1213,1213,1213,1213
PSA Airlines,22831,22831,22831,22831,22831,22831,22831,22831,22831,22831,...,22831,22831,22831,22831,22831,22831,22831,22831,22831,22831
Piedmont Airlines,6663,6663,6663,6663,6663,6663,6663,6663,6663,6663,...,6663,6663,6663,6663,6663,6663,6663,6663,6663,6663
Republic Airline,7514,7514,7514,7514,7514,7514,7514,7514,7514,7514,...,7514,7514,7514,7514,7514,7514,7514,7514,7514,7514
SkyWest Airlines,856,856,856,856,856,856,856,856,856,856,...,856,856,856,856,856,856,856,856,856,856
Southwest Airlines,4184,4184,4184,4184,4184,4184,4184,4184,4184,4184,...,4184,4184,4184,4184,4184,4184,4184,4184,4184,4184
Spirit Air Lines,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,...,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043
United Air Lines,1664,1664,1664,1664,1664,1664,1664,1664,1664,1664,...,1664,1664,1664,1664,1664,1664,1664,1664,1664,1664

In [23]:
# again we want to see the percentage of flights delayed
# by airline

df[df['ARR_DEL15']=='Arrival Delay'].groupby(['CARRIER']).count()['QUARTER']/df.groupby(['CARRIER']).count()['QUARTER']

# the worst offenders for flights delayed by more than 15 min
# are G4=Allegiant Air, 3.2%, NK=Spirit Airlines, 3.2%, B6=JetBlue, 3%

CARRIER
Air Wisconsin Airlines             0.184102
Alaska Airlines                    0.153846
Allegiant Air                      0.334923
American Airlines                  0.178615
Commutair/Champlain Enterprises    0.255474
Delta Air Lines                    0.122337
Endeavor Air                       0.136815
Envoy Air                          0.156190
Frontier Airlines                  0.252740
GoJet Airlines/United Express      0.238325
JetBlue Airways                    0.285409
Mesa Airlines                      0.177911
PSA Airlines                       0.154446
Piedmont Airlines                  0.135111
Republic Airline                   0.167338
SkyWest Airlines                   0.199907
Southwest Airlines                 0.235228
Spirit Air Lines                   0.289240
United Air Lines                   0.215098
Name: QUARTER, dtype: float64

In [24]:
# how about the average arrival delay in minutes by airline?

df.groupby('CARRIER')['ARR_DELAY'].mean()

# B6=JetBlue has the highest average arrival delay, 27 min
# followed by NK=Spirit at 25 min

CARRIER
Air Wisconsin Airlines             15.787199
Alaska Airlines                     8.860744
Allegiant Air                      24.316288
American Airlines                  13.938996
Commutair/Champlain Enterprises    29.121094
Delta Air Lines                     9.161499
Endeavor Air                       11.919683
Envoy Air                           9.874606
Frontier Airlines                  18.907493
GoJet Airlines/United Express      21.596999
JetBlue Airways                    25.530789
Mesa Airlines                      16.677536
PSA Airlines                       11.952398
Piedmont Airlines                  11.107554
Republic Airline                   12.736449
SkyWest Airlines                   14.909373
Southwest Airlines                 13.165234
Spirit Air Lines                   22.108171
United Air Lines                   16.089808
Name: ARR_DELAY, dtype: float64

In [25]:
NC_airports = df[df['ORIGIN_STATE']=='North Carolina']['ORIGIN'].unique()
NC_airports

array(['CLT', 'RDU', 'AVL', 'GSO', 'ILM', 'OAJ', 'FAY', 'PGV', 'USA',
       'EWN'], dtype=object)

In [26]:
# here's a subset of the dataframe
# containing only flights that leave from NC

df_NC = df[df['ORIGIN'].isin(NC_airports)]
df_NC

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,CARRIER,FL_NUM,ORIGIN,ORIGIN_CITY,ORIGIN_STATE,...,CANCELLED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3,7,5,Monday,2021-07-05,SkyWest Airlines,5384,CLT,"Charlotte, NC",North Carolina,...,Not Cancelled,230.0,231.0,182.0,1337.0,NaN,NaN,NaN,NaN,NaN
4,3,7,12,Monday,2021-07-12,SkyWest Airlines,5384,CLT,"Charlotte, NC",North Carolina,...,Not Cancelled,230.0,215.0,178.0,1337.0,NaN,NaN,NaN,NaN,NaN
7,3,7,13,Tuesday,2021-07-13,SkyWest Airlines,5384,CLT,"Charlotte, NC",North Carolina,...,Not Cancelled,230.0,240.0,187.0,1337.0,NaN,NaN,NaN,NaN,NaN
11,3,7,2,Friday,2021-07-02,SkyWest Airlines,3242,RDU,"Raleigh/Durham, NC",North Carolina,...,Not Cancelled,150.0,165.0,107.0,646.0,0.0,0.0,0.0,0.0,33.0
14,3,7,6,Tuesday,2021-07-06,SkyWest Airlines,3242,RDU,"Raleigh/Durham, NC",North Carolina,...,Not Cancelled,150.0,164.0,97.0,646.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51799,2,6,1,Wednesday,2022-06-01,Republic Airline,3453,CLT,"Charlotte, NC",North Carolina,...,Not Cancelled,147.0,132.0,92.0,599.0,NaN,NaN,NaN,NaN,NaN
51800,2,6,1,Wednesday,2022-06-01,Republic Airline,3430,CLT,"Charlotte, NC",North Carolina,...,Cancelled,129.0,NaN,NaN,529.0,NaN,NaN,NaN,NaN,NaN
51802,2,6,1,Wednesday,2022-06-01,Republic Airline,3427,CLT,"Charlotte, NC",North Carolina,...,Not Cancelled,130.0,136.0,82.0,529.0,NaN,NaN,NaN,NaN,NaN
51803,2,6,1,Wednesday,2022-06-01,Republic Airline,3424,CLT,"Charlotte, NC",North Carolina,...,Not Cancelled,122.0,108.0,76.0,529.0,NaN,NaN,NaN,NaN,NaN
51806,2,6,1,Wednesday,2022-06-01,Republic Airline,3410,CLT,"Charlotte, NC",North Carolina,...,Cancelled,132.0,NaN,NaN,529.0,NaN,NaN,NaN,NaN,NaN

In [27]:
# what's the average arrival delay
# for this subsetted dataframe 
# containing only flights that leave from NC?

df_NC.groupby('CARRIER')['ARR_DELAY'].mean()

# the average delay time is pretty similar
# B6=JetBlue still leads at 27.6 min,
# NK=Spirit, 26.5 min

CARRIER
Air Wisconsin Airlines             15.655147
Alaska Airlines                     9.538462
Allegiant Air                      24.608022
American Airlines                  13.472056
Commutair/Champlain Enterprises    30.078740
Delta Air Lines                     9.067194
Endeavor Air                       13.044843
Envoy Air                          10.354392
Frontier Airlines                  19.721676
GoJet Airlines/United Express      23.138361
JetBlue Airways                    26.101686
Mesa Airlines                      16.207074
PSA Airlines                       11.459064
Piedmont Airlines                  10.303040
Republic Airline                   13.398931
SkyWest Airlines                   15.531966
Southwest Airlines                  9.968811
Spirit Air Lines                   23.001753
United Air Lines                   13.975220
Name: ARR_DELAY, dtype: float64

In [28]:
# df.to_csv('Jul_to_Jun_Airlines.csv')

In [29]:
# df_NC.to_csv('NC_departures.csv')

In [30]:
df_RDU = df[df['ORIGIN']=='RDU']
df_RDU.to_csv('RDU_departures.csv')

In [32]:
df_RDU.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52645 entries, 11 to 51787
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   QUARTER              52645 non-null  category
 1   MONTH                52645 non-null  category
 2   DAY_OF_MONTH         52645 non-null  category
 3   DAY_OF_WEEK          52645 non-null  category
 4   FL_DATE              52645 non-null  datetime64[ns]
 5   CARRIER              52645 non-null  object
 6   FL_NUM               52645 non-null  category
 7   ORIGIN               52645 non-null  object
 8   ORIGIN_CITY          52645 non-null  object
 9   ORIGIN_STATE         52645 non-null  object
 10  DEST                 52645 non-null  object
 11  DEST_CITY            52645 non-null  object
 12  DEST_STATE           52645 non-null  object
 13  CRS_DEP_TIME         52645 non-null  object
 14  DEP_TIME             51170 non-null  object
 15  DEP_DELAY            51175 non-null  float64
 16  DEP_DEL15            51175 non-null  category
 17  DEP_DELAY_GROUP      51175 non-null  category
 18  CRS_ARR_TIME         52626 non-null  object
 19  ARR_TIME             51096 non-null  object
 20  ARR_DELAY            51037 non-null  float64
 21  ARR_DEL15            51037 non-null  category
 22  ARR_DELAY_GROUP      51037 non-null  category
 23  CANCELLED            52645 non-null  category
 24  CRS_ELAPSED_TIME     52645 non-null  float64
 25  ACTUAL_ELAPSED_TIME  51037 non-null  float64
 26  AIR_TIME             51037 non-null  float64
 27  DISTANCE             52645 non-null  float64
 28  CARRIER_DELAY        8988 non-null   float64
 29  WEATHER_DELAY        8988 non-null   float64
 30  NAS_DELAY            8988 non-null   float64
 31  SECURITY_DELAY       8988 non-null   float64
 32  LATE_AIRCRAFT_DELAY  8988 non-null   float64
dtypes: category(10), datetime64[ns](1), float64(11), object(11)
memory usage: 10.4+ MB